body {
}
.error {
    color: red;  
    font-size: 20px;
}
.temp {
    width: 400px;
    position: absolute;
    border: 1px solid RGB(77, 116, 179);
    border-radius: 3px 4px;
    background-color: RGB(77, 116, 179)
}
.big{
    font-size: 20px;
}