*{
}
body {
}
h3{
    font-size: 40px;
    padding-left: 20%;
}
.VirtualTicketForm {
    width: 700px;
    margin: auto;
    
    padding-left: 30px;
    padding-bottom: 30px;
}
.VirtualTicketPage .VirtualTicketForm h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}
.VirtualTicketPage {
    height: 80%;
    width: 100%;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.calander{
    padding-left: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
}
.calander2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.control1 {
   margin-left: 30px; 
 }
.control3 {
    margin-left: 10px;
}
.control2{
    margin-top: 20px;
    margin-left: 33%;
}

.CalanderMain{
    width: 20%;
    
}
.TimeAndDoctor{
    display: inline;
}
.flexTime{
    
}
.flexDoctor{
   
}
.mylabel{
    width: 30px;
    height: 20px;
    font-size: 20px;
}
.greetings {
    font-size: 30px;
    width: 500px;
    margin: auto;
    padding-top: 30px;
}
.ticket{
    display: flex;
}
.left-stuff {
    flex: 50%;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 13%;
    padding-left: 30px;
    border-radius: 7px 7px;
    border: 1px solid RGB(77, 116, 179);
    background-color: RGB(77, 116, 179);
}
.right-stuff {
    flex: 50%;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 7px 7px;
    border: 1px solid RGB(77, 116, 179);
    background-color: RGB(77, 116, 179);
}